.blog-section {
    padding: 50px 15px; /* Adjusted padding for left and right */
    background-color: #f9f9f9; /* Light background to distinguish the section */
}

.blog-section .session-title h2 {
    text-align: center;
    margin-bottom: 30px;
}

.blog-section .session-title p {
    text-align: center;
    margin-bottom: 50px;
}

.blog-entry {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; /* Adjust layout for image and text */
    align-items: center; /* Center-aligns the items */
}

.blog-entry img {
    margin-bottom: 15px;
    max-width: 80%; /* Adjust image width if needed */
    height: auto;
    border-radius: 5px; /* Adds rounded corners to the images */
}

.blog-entry h3 {
    margin-top: 20px; /* Adds space above the title for aesthetics */
    width: 100%; /* Ensures title uses full available width */
    text-align: center; /* Center-aligns the title */
}

.blog-entry img {
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
    margin-bottom: 15px; /* Keeps the bottom margin for spacing */
    max-width: 80%; /* Adjusts the image width */
    height: auto; /* Maintains the image's aspect ratio */
    border-radius: 5px; /* Optional: Adds rounded corners to the image */
}


.blog-entry p {
    text-align: justify;
    width: 100%; /* Ensures paragraph uses full available width */
    padding: 0 20px; /* Adds padding for readability */
    max-width: 800px; /* Limits max width for readability on larger screens */
    margin: auto; /* Centers the paragraph in the container */
}

/* Apply button CSS */

.apply-now {
    min-width: 200px; /* Adjust the width as needed */
    padding: 10px 30px; /* Adjust padding for taller appearance, if desired */
    font-size: 16px; /* Optional: Adjust font size for better visual compatibility with the new button size */
    display: inline-block; /* Ensures the width adjustment takes effect */
    text-align: center; /* Ensures the text is centered within the button */
}

.btn-outline-success:hover {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

